.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 240px;
  background: #fff;
  border-right: 1px solid #e0e0e0;
  border-radius: 0;
}

.sidebar-header {
  // font-weight: bold;
  color: #fff;

  .app-logo {
    max-width: 120px;
  }

}

.mat-mdc-list-item {
  border-radius: 0 !important;
  margin: 4px 0;

  mat-icon, span {
    color: #6e6e6ecc !important;

  }

  span {
    font-size: 14px;
  }


  &:hover {
    background: rgba(25, 118, 210, 0.1); // azul con transparencia
  }
}

.active-link {
  // background: #1976d2 !important;
  color: #1976d2 !important;

  mat-icon {
    color: #1976d2 !important;
  }
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  mat-icon{
    color: var(--mat-sys-primary-container);
  }
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 20px;
  background: #f5f5f5;
  min-height: calc(100vh - 64px);
}
